<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>    
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7860d1b50bb75ee31bc5115bbfe5c70c&libraries=services"></script>
    <!-- jqGrid CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jqgrid/4.6.0/css/ui.jqgrid.css" type="text/css" />
    <!-- The jqGrid language file code-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jqgrid/4.6.0/i18n/grid.locale-kr.js"></script>
    <!-- The atual jqGrid code -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jqgrid/4.6.0/jquery.jqGrid.src.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <title>메인페이지</title>
    
    <script>
        // 현재 위치 가져오기
        navigator.geolocation.getCurrentPosition(getSuccess, getError);

        // 가져오기 성공
        function getSuccess(position) {

            // 시간
            var today = new Date();

            var year = today.getFullYear();
            var month = ('0' + (today.getMonth() + 1)).slice(-2);
            var day = ('0' + today.getDate()).slice(-2);

            var ymd = year +''+ month +''+day;

            // 위도
            const lat = position.coords.latitude;
            // 경도
            const lng = position.coords.longitude;
            // 위도 경도 오차(m)
            const accuracy = Math.floor(position.coords.accuracy);

            getAddr(lat,lng);

            var conv = dfs_xy_conv('toXY',lat,lng);

            var xhr = new XMLHttpRequest();
            var url = 'http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst'; /*URL*/
            var queryParams = '?' + encodeURIComponent('serviceKey') + '='+'Ah9gIeZdtUkp3q9AMHmad%2BFS5KWFC2Y%2B%2BdjGRxmB7U1OGbpWJraVpM%2BxYIiB2yxxCt%2Bme8G8eR3i8rcrh89ZtQ%3D%3D'; /*Service Key*/
            queryParams += '&' + encodeURIComponent('pageNo') + '=' + encodeURIComponent('1'); /**/
            queryParams += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('1000'); /**/   
            queryParams += '&' + encodeURIComponent('dataType') + '=' + encodeURIComponent('JSON'); /**/
            queryParams += '&' + encodeURIComponent('base_date') + '=' + encodeURIComponent(ymd); /**/
            queryParams += '&' + encodeURIComponent('base_time') + '=' + encodeURIComponent('0500'); /**/
            queryParams += '&' + encodeURIComponent('nx') + '=' + encodeURIComponent(conv.x); /**/
            queryParams += '&' + encodeURIComponent('ny') + '=' + encodeURIComponent(conv.y); /**/
            xhr.open('GET', url + queryParams);

            xhr.onreadystatechange = function () {
                if (this.readyState == 4) {

                    var aaa = JSON.parse(this.responseText);

                    console.log(aaa.response.body.items.item);

                    jqgridSearch(aaa.response.body.items.item);
                }
            };
            xhr.send('');
        }

        // 가지오기 실패(거부)
        function getError() {
            alert('Geolocation Error');
        }

       function getAddr(x,y){

            var geocoder = new kakao.maps.services.Geocoder();

            geocoder.coord2Address(y, x, callback,null)
        }

        const callback = (result,status) => {
            if(status === kakao.maps.services.Status.OK) {

                var depthNm_1 =  result[0].address.region_1depth_name;
                var depthNm_2 =  result[0].address.region_2depth_name;
                var depthNm_3 =  result[0].address.region_3depth_name;
                var deptNm = depthNm_1 +' '+depthNm_2+' '+depthNm_3

                $("#korAddress").text(deptNm);
            }
        }
    </script>

<script language="javascript">
    //<!--
    // 소스출처 : http://www.kma.go.kr/weather/forecast/digital_forecast.jsp  내부에 있음
    // 기상청에서 이걸 왜 공식적으로 공개하지 않을까?
    //
    // (사용 예)
    // var rs = dfs_xy_conv("toLL","60","127");
    // console.log(rs.lat, rs.lng);
    //
    //
    // LCC DFS 좌표변환을 위한 기초 자료
    //
    var RE = 6371.00877; // 지구 반경(km)
    var GRID = 5.0; // 격자 간격(km)
    var SLAT1 = 30.0; // 투영 위도1(degree)
    var SLAT2 = 60.0; // 투영 위도2(degree)
    var OLON = 126.0; // 기준점 경도(degree)
    var OLAT = 38.0; // 기준점 위도(degree)
    var XO = 43; // 기준점 X좌표(GRID)
    var YO = 136; // 기1준점 Y좌표(GRID)
    //
    // LCC DFS 좌표변환 ( code : "toXY"(위경도->좌표, v1:위도, v2:경도), "toLL"(좌표->위경도,v1:x, v2:y) )
    //

    function dfs_xy_conv(code, v1, v2) {
        var DEGRAD = Math.PI / 180.0;
        var RADDEG = 180.0 / Math.PI;

        var re = RE / GRID;
        var slat1 = SLAT1 * DEGRAD;
        var slat2 = SLAT2 * DEGRAD;
        var olon = OLON * DEGRAD;
        var olat = OLAT * DEGRAD;

        var sn = Math.tan(Math.PI * 0.25 + slat2 * 0.5) / Math.tan(Math.PI * 0.25 + slat1 * 0.5);
        sn = Math.log(Math.cos(slat1) / Math.cos(slat2)) / Math.log(sn);
        var sf = Math.tan(Math.PI * 0.25 + slat1 * 0.5);
        sf = Math.pow(sf, sn) * Math.cos(slat1) / sn;
        var ro = Math.tan(Math.PI * 0.25 + olat * 0.5);
        ro = re * sf / Math.pow(ro, sn);
        var rs = {};
        if (code == "toXY") {
            rs['lat'] = v1;
            rs['lng'] = v2;
            var ra = Math.tan(Math.PI * 0.25 + (v1) * DEGRAD * 0.5);
            ra = re * sf / Math.pow(ra, sn);
            var theta = v2 * DEGRAD - olon;
            if (theta > Math.PI) theta -= 2.0 * Math.PI;
            if (theta < -Math.PI) theta += 2.0 * Math.PI;
            theta *= sn;
            rs['x'] = Math.floor(ra * Math.sin(theta) + XO + 0.5);
            rs['y'] = Math.floor(ro - ra * Math.cos(theta) + YO + 0.5);
        }
        else {
            rs['x'] = v1;
            rs['y'] = v2;
            var xn = v1 - XO;
            var yn = ro - v2 + YO;
            ra = Math.sqrt(xn * xn + yn * yn);
            if (sn < 0.0) - ra;
            var alat = Math.pow((re * sf / ra), (1.0 / sn));
            alat = 2.0 * Math.atan(alat) - Math.PI * 0.5;

            if (Math.abs(xn) <= 0.0) {
                theta = 0.0;
            }
            else {
                if (Math.abs(yn) <= 0.0) {
                    theta = Math.PI * 0.5;
                    if (xn < 0.0) - theta;
                }
                else theta = Math.atan2(xn, yn);
            }
            var alon = theta / sn + olon;
            rs['lat'] = alat * RADDEG;
            rs['lng'] = alon * RADDEG;
        }
        return rs;
    }
    //-->
</script>


<script>

    function filterCategort(el){

        if ( el.category == 'TMP' || el.category == 'POP' || el.category == 'PCP' || el.category == 'SNO' || el.category == 'SKY'){
            return true;
        }

    }

    function jqgridSearch(mydata){

        var filterData = mydata.filter(filterCategort);

        $("#list").jqGrid({
            datatype: "local",
            data: filterData,
            colNames:['날짜', '시간', '카테고리','값'],
            colModel:[
                {name:'fcstDate', index:'fcstDate', width:90, align: "center"},
                {name:'fcstTime', index:'fcstTime', width:50 , align: "center" },
                {name:'category', index:'category', width:50, align: "center" ,sortable:false },
                {name:'fcstValue', index:'fcstValue', width:80, align: "center"}
            ],
            autowidth: true,
            rownumbers : true,
            multiselect:true,
            pager:'#pager',
            rowNum: 30,
            rowList: [10, 20, 50],
            sortname: 'id',
            sortorder: 'asc',
            height: 550,
        });
    
    }       



    $(document).ready(function() {

        $(window).on('resize.jqGrid', function() {
            $("#list").jqGrid('setGridWidth', $("#list").parent().parent().parent().parent().parent().width());
        })
        $(".jarviswidget-fullscreen-btn").click(function(){
            setTimeout(function() {
                $("#list").jqGrid('setGridWidth', $("#list").parent().parent().parent().parent().parent().width());
            }, 100);
        });

    });
    </script>
    


</head>
<body>
    <div>
        <p id="korAddress"></p>
    </div>

    <table id="list"></table>
    <div id="pager"></div>

    <div>
        <canvas id="myChart"></canvas>
    </div>
</body>


<script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
</html>